
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$link: #2a9d8f;
$family-sans-serif: "Nunito", sans-serif;

html {scroll-behavior: smooth;}

@import "~bulma/bulma";

$steps-completed-color: #FFDD57;
$steps-active-color: $grey-lighter;

@import "~bulma-steps-component/bulma-steps.sass";

a.navbar-item:visited {
    color: $text
}

a.navbar-item:hover {
    color: $link
}

.navbar-burger:hover {
    background-color: transparent;
}

#logo {
  color: $link;
}

l-tools .image {
    width: 200px;
    margin: auto;
}
