
$card-radius: 1rem;
$link: #2a9d8f;

@import "~bulma/bulma";

@import "~bulma-steps-component/bulma-steps.sass";

a.navbar-item:visited {
    color: $text
}

a.navbar-item:hover {
    color: $link
}

.navbar-burger:hover {
    background-color: transparent;
}
